body {
  text-align: center;
  background-color: #326ca9;
  font-family: 'Press Start 2P', cursive;
}

#logo{
  font-size: 2.5rem;
  margin: 2% auto 5% auto;
}

#level-title {
  text-align: center;
  width: 80%;
  font-size: 2rem;
  margin: 5% auto 2% auto;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 80%;
  margin: auto;
}

.btnn {
  margin: 1rem 1rem 1rem 1rem;
  padding: 2%;
  display: inline-block;
  height: 8rem;
  width: 8rem;
  border: 10px solid black;
  border-radius: 15%;
}

.start-btn{
  margin: 3% auto 5% auto;
  width: 20%;
  height: 3.5em;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.links{
  text-decoration: none;
  color: white;
  margin: 0 1% 1% 1%;
}

footer{
  margin: 1% 1% 1% 1%;
  padding: 1%;
}

.red {
  background-color: red;
  margin-left: 4%;
  margin-right: auto;
}

.green {
  background-color: green;
  margin-left: auto;
  margin-right: 4%;
}

.blue {
  background-color: blue;
  margin-left: 4%;
  margin-right: auto;
}

.yellow {
  background-color: yellow;
  margin-left: auto;
  margin-right: 4%;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: rgb(56, 51, 51);
}

.score{
  text-align: center;
  width: 80%;
  font-size: 1.5rem;
  margin: 1% auto 1% auto;
  color: #FEF2BF;
}


@media(max-width: 992px){

  #logo{
    font-size: 3rem;
  }
  
  #level-title {
    font-size: 2.5rem;
  }

  .btnn {
    height: 12rem;
    width: 12rem;
  }

  .start-btn{
    font-size: 2.5rem;
    margin: 5% auto 15% auto;
    width: 40%;
    height: 5em;
  }

}